version: '3.8'
services:
  frontend:
    container_name: activity_log_frontend
    build:
      dockerfile: Dockerfile
    ports:
      - "80:80"
    environment:
      - BACKEND_URL=http://localhost:8080
