.container {
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: #fff;
    border: 1px solid #efeeee;
    border-radius: 10px;
    gap: 10px;
    width: 100%;
    box-sizing: border-box;
    height: fit-content;
    padding: 15px;
    cursor: pointer;
}

.userName {
    color: #000;
    letter-spacing: 0.8px;
    margin-left: 15px;
    font-family: Roboto, sans-serif;
    font-size: 15px;
    font-weight: bold;
    margin-right: auto;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 10px;
    word-break: keep-all;
}

.lowerRow {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    word-break: keep-all;
}

.title {
    font-size: 16px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    color: #1c1b1f;
    margin: 0;
    padding: 0;
    flex-shrink: 0;
}

.categoryText {
    font-size: 14px;
    font-family: Roboto, sans-serif;
    color: #6d6d6d;
    margin: 0;
    padding: 0;
    flex-shrink: 0;
}

.timeRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    gap: 10px;
}

.noteRow {
    display: flex;
    flex-direction: row;
    align-items: start;
    width: 100%;
    height: fit-content;
    gap: 10px;
}

.text {
    font-size: 14px;
    font-family: Roboto, sans-serif;
    font-weight: normal;
    color: #1c1b1f;
    margin: 0;
    padding: 0;
}

.textLabel {
    flex-shrink: 0;
    width: 80px;
    font-size: 14px;
    font-family: Roboto, sans-serif;
    font-weight: normal;
    color: #1c1b1f;
    margin: 0;
    padding: 0;
}

.checkbox {
    width: 18px;
    height: 18px;
    border-radius: 2px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spacer {
    flex-grow: 1;
}
