.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: 1px solid #efeeee;
    border-radius: 10px;
    gap: 10px;
    width: calc(100% - 30px);
    height: 50px;
    padding: 15px;
    cursor: pointer;
}

.userName {
    color: #000;
    letter-spacing: 0.8px;
    margin-left: 15px;
    font-family: Roboto, sans-serif;
    font-size: 15px;
    font-weight: bold;
    margin-right: auto;
}
