.textInput {
    height: 32px;
    padding: 4px 16px;
    border-radius: 4px;
    border: 1px solid #e2e8f0;
    background-color: #fff;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    resize: none;
    vertical-align: top;
    text-align: left;

    &::placeholder {
        color: #a0aec0;
    }

    &:focus {
        outline: none;
        border-color: #a0aec0;
    }
}

.fill {
    width: calc(100% - 32px);
}

.searchContainer {
    display: flex;
    width: calc(100% + 16px);
}

.searchIcon {
    position: relative;
    top: 0;
    right: 26px;
}

input[type="time"] {
    height: 32px;
    width: 68px;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    padding: 4px;
}

@media (max-width: 350px) {
    input[type="time"] {
        width: 55px !important;
    }
}

input[type="time"]::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}

.invalid {
    border-color: #ff9e97;
}
