@use "sass:math";

$color-error: #ed7b72;
$stroke-width: 5px;
$size: 100px;
$checkmark-color: white;

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: var(--white, #fff);
    gap: 20px;
}

.title {
    z-index: 0;
    gap: 10px;
    font-size: 18px;
    color: var(--gray-700, #2d3748);
    font-weight: 700;
}

.wrapper {
    flex-direction: column;
    justify-content: center;
}

.checkmark_circle_error {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: $stroke-width;
    stroke-miterlimit: 10;
    stroke: $color-error;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark {
    width: $size;
    height: $size;
    border-radius: 50%;
    display: block;
    stroke-width: $stroke-width;
    stroke: $checkmark-color;
    stroke-miterlimit: 10;
    margin: 10% auto;
    &.error {
        box-shadow: inset 0px 0px 0px $color-error;
        animation:
            fillerror 0.4s ease-in-out 0.4s forwards,
            scale 0.3s ease-in-out 0.9s both;
    }
}

.checkmark_check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.9s forwards;
}

@keyframes stroke {
    100% {
        stroke-dashoffset: 0;
    }
}
@keyframes scale {
    0%,
    100% {
        transform: none;
    }
    50% {
        transform: scale3d(1.1, 1.1, 1);
    }
}

@keyframes fillerror {
    100% {
        box-shadow: inset 0px 0px 0px math.div($size, 2) $color-error;
    }
}
