.formRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: fit-content;
    padding-top: 10px;
    padding-bottom: 10px;
    flex-shrink: 0;
}

.formLabel {
    width: 100px;
    font-size: 15px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    color: #1c1b1f;
    margin-right: 20px;
    flex-shrink: 0;
}
