.page {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    height: fit-content;
    width: calc(100% - 40px);
    background-color: transparent;
    padding: 50px 20px 50px 20px;
    gap: 20px;
}

.date {
    color: #6d6d6d;
}

.headerColumn {
    padding: 0 0px 0 0px;
}

.table {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.mainTitle {
    font-size: 32px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    color: #1c1b1f;
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
}

.caregiversContainer {
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
    gap: 10px;
}

.tableHeaderRow {
    display: flex;
    flex-direction: row;
    height: 45px;
    width: 100%;
    border-bottom: 1px solid #d9d9d9;
}

.title {
    font-size: 20px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    color: #1c1b1f;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}
