.page {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    height: 100%;
    width: calc(100%);
    background-color: #fbfbfb;
    padding: 0px 0px 30px 0px;
    gap: 20px;
}

.pageContent {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: calc(100% - 40px);
    padding: 0px 0px 0px 20px;
    margin-top: 120px;
    height: 100%;
}

.profileHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: calc(100%);
    height: fit-content;
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 8px;
}

.profileHeaderText {
    font-size: 32px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    color: #1c1b1f;
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
}

.spacer {
    height: 20px;
}

.backRow {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: 50px;
    gap: 10px;
    padding-left: 20px;
    padding-top: 30px;
    padding-bottom: 10px;
    background-color: #fbfbfb;
    border-bottom: none;
    //transition: border-color 0.3s ease-in-out;
    transition: background-color 0.1s ease-in-out; // <--- ADD THIS
}

.backRow.sticky {
    background-color: #fff;
    border-bottom: 1px solid #e1e1e1;
}
