.avatar {
  color: #2c5282;
  background-color: #bee3f8;
  border-radius: 9999px;
  font-family: Inter, sans-serif;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar.small {
  width: 24px;
  height: 24px;
  font-size: 9px;
}

.avatar.medium {
  width: 48px;
  height: 48px;
  font-size: 20px;
}

.avatar.large {
  width: 96px;
  height: 96px;
  font-size: 38px;
}