.container {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 5px;
    border-radius: 15px;
    border: 1px solid #e1e1e1;
    height: 50px;
    padding: 5px;
    width: calc(100% - 10px);
    flex-shrink: 0;
}

.button {
    background-color: transparent;
    border-radius: 10px;
    color: #2f2f2f;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    height: 100%;
    width: 100%;
    border: none;
}

.selected {
    background-color: #3182ce;
    color: white;
}
