.button {
    display: inline-block;
    cursor: pointer;
    border: 0;
    border-radius: 6px;
    font-weight: 600;
    line-height: 1;
    font-family: "Roboto", sans-serif;
    overflow: hidden;
    position: relative;
    flex-shrink: 0;
    flex-grow: 1;
}

.primary {
    background-color: #3182ce;
    color: white;
}
.secondary {
    box-shadow: #3182ce 0px 0px 0px 1px inset;
    background-color: transparent;
    color: #3182ce;
}

.small {
    padding: 10px 16px;
    font-size: 12px;
}
.medium {
    padding: 11px 20px;
    font-size: 14px;
}
.large {
    padding: 12px 24px;
    font-size: 16px;
}

.noText {
    padding: 5px 24px;
}

.fillWidth {
    width: 100%;
}

.ripple {
    width: 20px;
    height: 20px;
    position: absolute;
    background: #63a4ff;
    display: block;
    content: "";
    border-radius: 9999px;
    opacity: 1;
    animation: 0.9s ease 1 forwards ripple-effect;
}
@keyframes ripple-effect {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(10);
        opacity: 0.375;
    }
    100% {
        transform: scale(35);
        opacity: 0;
    }
}
.ripple-button > .content {
    position: relative;
    z-index: 2;
}
