.button {
    display: inline-block;
    cursor: pointer;
    border: 0;
    border-radius: 6px;
    font-weight: 600;
    line-height: 1;
    font-family: "Roboto", sans-serif;
}

.primary {
    background-color: #3182ce;
    color: white;
}
.secondary {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
    background-color: transparent;
    color: #333;
}

.small {
    padding: 10px 16px;
    font-size: 12px;
}
.medium {
    padding: 11px 20px;
    font-size: 14px;
}
.large {
    padding: 12px 24px;
    font-size: 16px;
}

.noText {
    padding: 5px 24px;
}
