.iconButton {
    background-color: transparent;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    padding: 0 2px;
    display: flex;
    border: none;
}

.iconButton.small {
    width: 24px;
    height: 24px;
}
