.navigationContainer {
    background-color: #fff;
    border-width: 1px;
    border-color: #f8f8f8;
    flex-direction: column;
    width: 100%;
    height: 84px;
    display: flex;
  }
  
  .navigationBar {
    justify-content: space-between;
    align-items: center;
    height: 64px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
  }
  
  .navIconButton {
    background-color: #fff;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    padding: 0 2px;
    display: flex;
    border: none;
  }
  
  .bottomSpacing {
    height: 20px;
    padding-left: 30px;
    padding-right: 30px;
  }
  