.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 10px 10px 0 0;
    gap: 10px;
    width: calc(100% - 30px);
    height: fit-content;
    padding: 15px;
    box-shadow: 0 -10px 40px rgba(0, 0, 0, 0.2);
}

.text {
    color: #000;
    letter-spacing: 0.8px;
    margin-left: 15px;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin-right: auto;
}
