.container {
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: #fff;
    border: 1px solid #efeeee;
    border-radius: 10px;
    gap: 10px;
    width: calc(100% - 30px);
    height: fit-content;
    padding: 15px;
    cursor: pointer;
}

.userName {
    color: #000;
    letter-spacing: 0.8px;
    margin-left: 15px;
    font-family: Roboto, sans-serif;
    font-size: 15px;
    font-weight: bold;
    margin-right: auto;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 10px;
    word-break: keep-all;
}

.headerText {
    font-size: 14px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    color: #1c1b1f;
    margin: 0;
    padding: 0;
    flex-shrink: 0;
}

.timeContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: fit-content;
    gap: 10px;
}

.text {
    font-size: 14px;
    font-family: Roboto, sans-serif;
    font-weight: normal;
    color: #1c1b1f;
    margin: 0;
    padding: 0;
}
