.textInput {
    min-height: 100px;
    height: auto;
    padding: 16px;
    border-radius: 4px;
    border: 1px solid #e2e8f0;
    background-color: #fff;
    font-family: Roboto, sans-serif;
    font-size: 15px;
    resize: none;
    vertical-align: top;
    text-align: left;

    &::placeholder {
        color: #a0aec0;
    }

    &:focus {
        outline: none;
        border-color: #a0aec0;
    }
}

.fill {
    width: calc(100% - 32px);
}

.searchContainer {
    display: flex;
    width: calc(100% + 16px);
}

.searchIcon {
    position: relative;
    top: 0;
    right: 26px;
}

.invalid {
    border-color: #ff9e97;
}
