.calendarContainer {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    height: 100%;
    width: calc(100%);
    background-color: #fbfbfb;
    margin-top: 40px;
    gap: 20px;
    padding-bottom: 200px;
}

.title {
    font-size: 20px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    color: #1c1b1f;
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
}

.scheduleContainer {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
    height: fit-content;
    padding-top: 10px;
    padding-bottom: 10px;
    gap: 10px;
}
