.appContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: #fbfbfb;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navigationContainer {
    z-index: 2;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: auto;
    background-color: white;
}

.screenContainer {
    width: 100%;
    height: calc(100% - 84px);
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.screenStack {
    z-index: 1;
    top: 0;
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    overflow-y: auto;
    height: calc(100% - 84px);
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.screenStack > * {
    flex: 1 0 100%;
    max-width: 100%;
    height: 100%;
}

.open {
    display: flex;
}
