.appContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: #fbfbfb;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navigationContainer {
    z-index: 2;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: auto;
    background-color: white; /* Optional: Add a background to ensure visibility */
}

.content {
    z-index: 1;
    top: 0;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align content to the left */
    justify-content: flex-start; /* Align content to the top */
    overflow-y: auto; /* Enable scrolling for the content */
    height: calc(100vh - 84px); /* Adjust height to exclude the navigation bar */
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.open {
    display: flex;
}
