.page {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    height: 100%;
    width: calc(100% - 40px);
    background-color: #fbfbfb;
    padding: 50px 20px 50px 20px;
    gap: 20px;
}

.pageContent {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
    height: fit-content;
}

.profileHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: calc(100%);
    height: fit-content;
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 8px;
}

.profileHeaderText {
    font-size: 32px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    color: #1c1b1f;
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
}

.spacer {
    height: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
    height: fit-content;
}

.formRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
    padding-top: 10px;
    padding-bottom: 10px;
    gap: 8px;
}

.formLabel {
    font-size: 15px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    color: #1c1b1f;
    margin: 0;
    padding: 0;
    width: 60px;
}

.fullSpacer {
    height: auto;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    width: calc(100% - 40px);
    padding-left: 20px;
    padding-right: 20px;
    gap: 10px;
}
