.page {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    height: fit-content;
    width: calc(100% - 40px);
    background-color: #fbfbfb;
    padding: 50px 20px 50px 20px;
    gap: 20px;
}

.title {
    font-size: 32px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    color: #1c1b1f;
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
}

.caregiversContainer {
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
    gap: 10px;
}
