.dataContainer {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    height: fit-content;
    width: calc(100%);
    background-color: #fbfbfb;
    margin-top: 30px;
    gap: 10px;
}

.title {
    font-size: 20px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    color: #1c1b1f;
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
}

.caregiversContainer {
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
    gap: 10px;
}

.spacer {
    height: 10px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
    height: fit-content;
}

.formRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
    padding-top: 10px;
    padding-bottom: 10px;
    gap: 8px;
}

.formLabel {
    font-size: 15px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    color: #1c1b1f;
    margin: 0;
    padding: 0;
    width: 60px;
}

.fullSpacer {
    height: auto;
}
