.formRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
    padding-top: 10px;
    padding-bottom: 10px;
    gap: 30px;
}

.formLabel {
    font-size: 15px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    color: #1c1b1f;
    margin: 0;
    padding: 0;
}
