.page {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: #fbfbfb;
    overflow: hidden;
}

.chatContainer {
    flex: 1;
    min-height: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 0 20px 50px 20px;
    box-sizing: border-box;
    width: 100%;
}

.inputContainer {
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    position: absolute;
    flex-shrink: 0;
    padding: 0 16px 16px 16px;
}

.pageTitle {
    font-size: 32px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    color: #1c1b1f;
    padding: 50px 20px 35px 20px;
    border-bottom: 1px solid #e2e8f0;
}

.error {
    display: flex;
    justify-content: center;
    background-color: #f56565;
    color: #ffffff;
    font-size: 14px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-family: Roboto, sans-serif;
}
