.page {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    height: fit-content;
    width: calc(100% - 40px);
    background-color: transparent;
    padding: 100px 20px 200px 20px;
    gap: 20px;
}

.backRow {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: 50px;
    gap: 10px;
    padding-left: 20px;
    padding-top: 30px;
    padding-bottom: 10px;
    background-color: #fbfbfb;
    border-bottom: none;
    flex-shrink: 0;
    //transition: border-color 0.3s ease-in-out;
    transition: background-color 0.1s ease-in-out; // <--- ADD THIS
}

.profileHeaderText {
    font-size: 32px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    color: #1c1b1f;
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
    text-align: center;
}

.spacer {
    height: 20px;
}

.date {
    color: #6d6d6d;
    text-align: center;
}

.headerColumn {
    padding: 0 0px 0 0px;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.table {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.mainTitle {
    font-size: 32px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    color: #1c1b1f;
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
}

.caregiversContainer {
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
    gap: 10px;
}

.tableHeaderRow {
    display: flex;
    flex-direction: row;
    height: 45px;
    width: 100%;
    border-bottom: 1px solid #d9d9d9;
}

.title {
    font-size: 20px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    color: #1c1b1f;
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
}

.buttonConatainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: fit-content;
    gap: 10px;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: calc(100% - 30px);
    height: fit-content;
    gap: 10px;
}
